<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myFlowers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>117F997A1E99D7DA004735AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>117F99931E99D7DA004735AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>117F999E1E99D7DA004735AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
